<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Effective Objective_2.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2166F4E1E82B8310082C741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2166F671E82B8310082C741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2166F721E82B8310082C741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
